<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/PFile.css' %}" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="p-file p-file-block layout">
      <div style="display: flex;
      /* flex-direction: row;
      align-items: flex-start;
      padding: 10px; */
      gap: 10px;
      
      width: 100%;
      height: 100%;
      
      background: radial-gradient(106.18% 350.13% at -1.35% 2.84%, #FADE7B 0%, #FEE48A 14.59%, rgba(236, 236, 161, 0.809721) 32.26%, rgba(210, 248, 193, 0.546875) 53.21%, rgba(128, 210, 181, 0.293965) 77.26%, rgba(33, 166, 167, 0.15) 100%)"
      class="p-file-block1 layout">
        <div class="p-file-flex layout">
          <div class="p-file-flex1 layout">
            <div class="index-flex1-item" style="margin-top:-25px; margin-left:-10px;">
              <img src={% static 'img/logo_plus.png' %} width="70%;">
            </div>
            <div class="p-file-flex1-spacer"></div>
            <div class="p-file-flex1-item">
              <h1 class="p-file-big-title1 layout">
                <a href="{% url 'index' %}" style="text-decoration:none; color:#000;">首頁</a>
              </h1>
            </div>
            <div class="p-file-flex1-spacer1"></div>
            <div class="p-file-flex1-item">
              <h1 class="p-file-big-title1 layout">
                <a href="{% url 'pBoard' %}" style="text-decoration:none; color:#000;">未來公告欄</a>
              </h1>
            </div>
            <div class="p-file-flex1-spacer2"></div>
            <div class="p-file-flex1-item">
              <h1 class="p-file-big-title1 layout">
                <a href="{% url 'profile' %}" style="text-decoration:none; color:#000;">個人天地</a>
              </h1>
            </div>
          </div>
          <hr class="p-file-line layout" style="height:1.3px; margin-top:19px;"/>
          <div class="p-file-flex2 layout">
            <div class="p-file-flex2-item">
              <h1 class="p-file-big-title1 layout1">
                <a href="{% url 'profile' %}" style="text-decoration:none; color:#000;">個人天地</a>
              </h1>
            </div>
            <div class="p-file-flex2-spacer"></div>
            <div class="p-file-flex2-item1">
              <div class="p-file-image1 layout" style="margin:7.5px 0px 2.5px -122px;">
                <img src={% static 'img/leftArrow.png' %} width="100%">
              </div>
            </div>
            <div class="p-file-flex2-spacer1"></div>
            <div class="p-file-flex2-item"><h1 class="p-file-big-title1 layout2" style="margin-left:-900px;">個人檔案</h1></div>
          </div>

          <div class="p-file-cover-block1 layout">
            <form action="" method="post">
              {% csrf_token %}
              <h1 class="p-file-big-title layout">使用者名稱</h1>
              <div class="p-file-box1 layout"> <!-- 這個欄位是鎖死的，從資料庫取資料看 -->
                <input style="width: 450px;height: 54px; font-size: 20px;" type="text" name="us_name" id="us_name" value="{{user.username}}" readonly="readonly">
              </div>
              <h1 class="p-file-big-title layout1">您目前的密碼</h1>
              <div class="p-file-box1 layout">
                <input style="width: 450px;height: 54px; font-size: 20px;" type="password" name="password" id="password" placeholder="請輸入目前密碼" required>
              </div>
              <h1 class="p-file-big-title layout2">欲變更的密碼</h1>
              <div class="p-file-box1 layout">
                <input style="width: 450px;height: 54px; font-size: 20px;" type="password" name="newpassword" id="newpassword" placeholder="請輸入新密碼" minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d#?!@$%^&*-_]{8,}$" title="請輸入至少8位並含至少一個英文字母" required>
              </div>
              <h1 class="p-file-big-title layout2">再次輸入新密碼</h1>
              <div class="p-file-box1 layout">
                <input style="width: 450px;height: 54px; font-size: 20px;" type="password" name="newpassword_check" id="newpassword_check" placeholder="請輸入新密碼" minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d#?!@$%^&*-_]{8,}$" title="請輸入至少8位並含至少一個英文字母" required>
              </div>
              <div class="p-file-cover-block layout">
                <input style="width: 450px;height: 54px; font-size: 20px; background: #c4c4c4;border: none;" type="submit" name="saveout" placeholder="儲存修改">
                {% comment %} <h1 class="p-file-big-title2 layout" style="width:29%;">儲存修改</h1> {% endcomment %}
              </div>
            </form>
        </div>

        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();

      {% for message in messages %}
        alert('{{ message }}')
      {% endfor %}

    </script>
  </body>
</html>
