<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/PMessage.css' %}" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="p-message p-message-block layout">
      <div style="display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 10px;
      gap: 10px;
      
      width: 100%;
      height: 100%;
      
      background: radial-gradient(106.18% 350.13% at -1.35% 2.84%, #FADE7B 0%, #FEE48A 14.59%, rgba(236, 236, 161, 0.809721) 32.26%, rgba(210, 248, 193, 0.546875) 53.21%, rgba(128, 210, 181, 0.293965) 77.26%, rgba(33, 166, 167, 0.15) 100%)"
      class="p-message-block1 layout">
        <div class="p-message-flex layout">
          <div class="p-message-flex1 layout">
            <div class="index-flex1-item" style="margin-top:-25px;">
              <img src={% static 'img/logo.png' %} width="69%;">
            </div>
            <div class="p-message-flex1-spacer"></div>
            <div class="p-message-flex1-item"><h1 class="p-message-big-title layout">首頁</h1></div>
            <div class="p-message-flex1-spacer1"></div>
            <div class="p-message-flex1-item"><h1 class="p-message-big-title layout">未來公告欄</h1></div>
            <div class="p-message-flex1-spacer2"></div>
            <div class="p-message-flex1-item"><h1 class="p-message-big-title layout">個人天地</h1></div>
          </div>
          <hr class="p-message-line layout" style="height:1px; margin-top:20.5px;"/>
          <div class="p-message-flex2 layout">
            <div class="p-message-flex2-item"><h1 class="p-message-big-title1 layout">個人天地</h1></div>
            <div class="p-message-flex2-spacer"></div>
            <div class="p-message-flex2-item1">
              <div class="p-message-image2 layout" style="margin-left:-247px;">
                <img src={% static 'img/leftArrow.png' %} width="100%">
              </div>
            </div>
            <div class="p-message-flex2-spacer1"></div>
            <div class="p-message-flex2-item"><h1 class="p-message-big-title2 layout" style="margin:0px -540px;">留言回覆紀錄</h1></div>
          </div>
          <div class="p-message-flex3 layout">
            <div class="p-message-flex3-item">
              <div class="p-message-cover-block1 layout" style="width:161px;">
                <h1 class="p-message-big-title21 layout" style="width:32%; margin:1px 57.61% 0px 5.15%; font-size:25px;">最新</h1>
                <h1 class="p-message-big-title22 layout" style="width:32%; margin:3px 7.07% 6px 61.7%; font-size:25px;">最舊</h1>
                <div class="p-message-icon layout" style="margin-left: 62px;">
                  <img src={% static 'img/rightArrow.png' %} width="100%">
                </div>
              </div>
            </div>
            <div class="p-message-flex3-spacer"></div>
            <div class="p-message-flex3-item">
              <div class="p-message-cover-block layout" style="margin-left:-293px; margin-right:589px;">
                <h1 class="p-message-big-title23 layout" style="width:32%; margin:0px 57.61% 0px 4.15%; font-size:25px;">最舊</h1>
                <h1 class="p-message-big-title24 layout" style="width:32%; margin:3px 7.07% 6px 60.7%; font-size:25px;">最新</h1>
                <div class="p-message-icon layout" style="margin-left: 60px;">
                  <img src={% static 'img/rightArrow.png' %} width="100%">
                </div>
              </div>
            </div>
          </div>
          <div class="p-message-flex4 layout">
            <div class="p-message-flex4-item">
              <div class="p-message-cover-block4 layout">
                <div class="p-message-flex5 layout">
                  <div class="p-message-cover-block3 layout"><h1 class="p-message-big-title11 layout">歌曲...</h1></div>
                  <h1 class="p-message-big-title3 layout">留言內容...</h1>
                  <div class="p-message-flex6 layout">
                    <div class="p-message-flex6-item">
                      <div class="p-message-flex7 layout">
                        <h3 class="p-message-subtitle layout" style="margin:0px 10px 0px 0px;">-署名(可有可無)</h3>
                        <h5 class="p-message-highlights layout" style="font-size:14.7px;">-三月三日，二零二二年</h5>
                      </div>
                    </div>
                    <div class="p-message-flex6-spacer"></div>
                    <div class="p-message-flex6-item1">
                      <div class="p-message-cover-block2 layout">
                        <h4 class="p-message-highlights1 layout" style="margin:9px 5px 10px 7px;">心情</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-message-flex4-spacer"></div>
            <div class="p-message-flex4-item">
              <div class="p-message-cover-block4 layout">
                <div class="p-message-flex8 layout">
                  <div class="p-message-cover-block3 layout"><h1 class="p-message-big-title12 layout">歌曲...</h1></div>
                  <h1 class="p-message-big-title4 layout">留言內容...</h1>
                  <div class="p-message-flex9 layout">
                    <div class="p-message-flex9-item">
                      <div class="p-message-flex7 layout">
                        <h3 class="p-message-subtitle layout" style="margin:0px 10px 0px 0px;">-署名(可有可無)</h3>
                        <h5 class="p-message-highlights layout" style="font-size:14.7px;">-三月三日，二零二二年</h5>
                      </div>
                    </div>
                    <div class="p-message-flex9-spacer"></div>
                    <div class="p-message-flex9-item1">
                      <div class="p-message-cover-block2 layout">
                        <h4 class="p-message-highlights1 layout" style="margin:9px 5px 10px 7px;">心情</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-message-flex4-spacer"></div>
            <div class="p-message-flex4-item">
              <div class="p-message-cover-block4 layout">
                <div class="p-message-flex11 layout">
                  <div class="p-message-cover-block3 layout"><h1 class="p-message-big-title13 layout">歌曲...</h1></div>
                  <h1 class="p-message-big-title5 layout">留言內容...</h1>
                  <div class="p-message-flex12 layout">
                    <div class="p-message-flex12-item">
                      <div class="p-message-flex7 layout">
                        <h3 class="p-message-subtitle layout" style="margin:0px 10px 0px 0px;">-署名(可有可無)</h3>
                        <h5 class="p-message-highlights layout" style="font-size:14.7px;">-三月三日，二零二二年</h5>
                      </div>
                    </div>
                    <div class="p-message-flex12-spacer"></div>
                    <div class="p-message-flex12-item1">
                      <div class="p-message-cover-block2 layout">
                        <h4 class="p-message-highlights1 layout" style="margin:9px 5px 10px 7px;">心情</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-message-flex14 layout">
            <div class="p-message-flex14-item">
              <div class="p-message-cover-block4 layout">
                <div class="p-message-flex15 layout">
                  <div class="p-message-cover-block3 layout"><h1 class="p-message-big-title14 layout">歌曲...</h1></div>
                  <h1 class="p-message-big-title6 layout">留言內容...</h1>
                  <div class="p-message-flex16 layout">
                    <div class="p-message-flex16-item">
                      <div class="p-message-flex7 layout">
                        <h3 class="p-message-subtitle layout" style="margin:0px 10px 0px 0px;">-署名(可有可無)</h3>
                        <h5 class="p-message-highlights layout" style="font-size:14.7px;">-三月三日，二零二二年</h5>
                      </div>
                    </div>
                    <div class="p-message-flex16-spacer"></div>
                    <div class="p-message-flex16-item1">
                      <div class="p-message-cover-block2 layout">
                        <h4 class="p-message-highlights1 layout" style="margin:9px 5px 10px 7px;">心情</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-message-flex14-spacer"></div>
            <div class="p-message-flex14-item1">
              <div class="p-message-cover-block7 layout">
                <div class="p-message-flex18 layout">
                  <div class="p-message-cover-block6 layout"><h1 class="p-message-big-title15 layout">歌曲...</h1></div>
                  <h1 class="p-message-big-title7 layout">留言內容...</h1>
                  <div class="p-message-flex19 layout">
                    <div class="p-message-flex19-item">
                      <div class="p-message-flex7 layout">
                        <h3 class="p-message-subtitle layout" style="margin:0px 10px 0px 0px;">-署名(可有可無)</h3>
                        <h5 class="p-message-highlights layout" style="font-size:14.7px;">-三月三日，二零二二年</h5>
                      </div>
                    </div>
                    <div class="p-message-flex19-spacer"></div>
                    <div class="p-message-flex19-item1">
                      <div class="p-message-cover-block5 layout">
                        <h4 class="p-message-highlights1 layout1" style="margin:9px 5px 10px 7px;">心情</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-message-flex14-spacer"></div>
            <div class="p-message-flex14-item">
              <div class="p-message-cover-block4 layout">
                <div class="p-message-flex21 layout">
                  <div class="p-message-cover-block3 layout"><h1 class="p-message-big-title16 layout">歌曲...</h1></div>
                  <h1 class="p-message-big-title8 layout">留言內容...</h1>
                  <div class="p-message-flex22 layout">
                    <div class="p-message-flex22-item">
                      <div class="p-message-flex7 layout">
                        <h3 class="p-message-subtitle layout" style="margin:0px 10px 0px 0px;">-署名(可有可無)</h3>
                        <h5 class="p-message-highlights layout" style="font-size:14.7px;">-三月三日，二零二二年</h5>
                      </div>
                    </div>
                    <div class="p-message-flex22-spacer"></div>
                    <div class="p-message-flex22-item1">
                      <div class="p-message-cover-block2 layout">
                        <h4 class="p-message-highlights1 layout" style="margin:9px 5px 10px 7px;">心情</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-message-flex24 layout">
            <div class="p-message-flex24-item">
              <div class="p-message-cover-block4 layout1">
                <div class="p-message-flex25 layout">
                  <div class="p-message-cover-block3 layout"><h1 class="p-message-big-title17 layout">歌曲...</h1></div>
                  <h1 class="p-message-big-title9 layout">留言內容...</h1>
                  <div class="p-message-flex26 layout">
                    <div class="p-message-flex26-item">
                      <div class="p-message-flex7 layout">
                        <h3 class="p-message-subtitle layout" style="margin:0px 10px 0px 0px;">-署名(可有可無)</h3>
                        <h5 class="p-message-highlights layout" style="font-size:14.7px;">-三月三日，二零二二年</h5>
                      </div>
                    </div>
                    <div class="p-message-flex26-spacer"></div>
                    <div class="p-message-flex26-item1">
                      <div class="p-message-cover-block2 layout">
                        <h4 class="p-message-highlights1 layout" style="margin:9px 5px 10px 7px;">心情</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-message-flex24-spacer"></div>
            <div class="p-message-flex24-item1">
              <div class="p-message-cover-block7 layout1">
                <div class="p-message-flex28 layout">
                  <div class="p-message-cover-block6 layout"><h1 class="p-message-big-title18 layout">歌曲...</h1></div>
                  <h1 class="p-message-big-title10 layout">留言內容...</h1>
                  <div class="p-message-flex29 layout">
                    <div class="p-message-flex29-item">
                      <div class="p-message-flex7 layout">
                        <h3 class="p-message-subtitle layout" style="margin:0px 10px 0px 0px;">-署名(可有可無)</h3>
                        <h5 class="p-message-highlights layout" style="font-size:14.7px;">-三月三日，二零二二年</h5>
                      </div>
                    </div>
                    <div class="p-message-flex29-spacer"></div>
                    <div class="p-message-flex29-item1">
                      <div class="p-message-cover-block5 layout">
                        <h4 class="p-message-highlights1 layout2" style="margin:9px 5px 10px 7px;">心情</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-message-flex24-spacer1"></div>
            <div class="p-message-flex24-item">
              <div class="p-message-cover-block4 layout2">
                <div class="p-message-flex31 layout">
                  <div class="p-message-cover-block3 layout"><h1 class="p-message-big-title19 layout">歌曲...</h1></div>
                  <h1 class="p-message-big-title20 layout">留言內容...</h1>
                  <div class="p-message-flex32 layout">
                    <div class="p-message-flex32-item">
                      <div class="p-message-flex7 layout">
                        <h3 class="p-message-subtitle layout" style="margin:0px 10px 0px 0px;">-署名(可有可無)</h3>
                        <h5 class="p-message-highlights layout" style="font-size:14.7px;">-三月三日，二零二二年</h5>
                      </div>
                    </div>
                    <div class="p-message-flex32-spacer"></div>
                    <div class="p-message-flex32-item1">
                      <div class="p-message-cover-block2 layout">
                        <h4 class="p-message-highlights1 layout" style="margin:9px 5px 10px 7px;">心情</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-message-flex24-spacer2"></div>
            <div class="p-message-flex24-item2">
              <div class="p-message-cover-group layout">
                <div class="p-message-image1 layout">
                  <img src={% static 'img/upArrow.png' %} width="100%">
                </div>
                <div class="p-message-icon1 layout">
                  <img src={% static 'img/circle.png' %} width="100%">
                </div>
                <h2 class="p-message-medium-title layout" style="margin:27.5px 2.5px 16.5px 10px;">TOP</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
